@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #3A0CA3, #7209B7, #4361EE, #000000);
    background-size: 400% 400%;
    animation: gradientBackground 15s ease infinite;
    color: white;
    text-align: left;
  }
  
  @keyframes gradientBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .content {
    position: absolute;
    top: 5%;
    left: 3%;
    width: 93.5%;
    padding-top: 55px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: 90%;
    font-family: 'Montserrat', sans-serif;
    padding-right: 600px;
    padding-left: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid gray;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  }


  p {
    font-size: 1.4rem;
    margin-bottom: 40px;
    line-height: 1.5;
    font-family: 'Nunito', sans-serif;
  }
  
  .cta-button {
    padding: 15px 30px;
    font-size: 1.2rem;
    color: white;
    background-color: #7209b7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Nunito', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .cta-button:hover {
    background-color: #4361EE;
  }


  .login-button{
    padding: 15px 30px;
    font-size: 1.2rem;
    color: white;
    background-color: #7209b7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Nunito', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 27%;
    margin-left: 40px;
  }
  .login-button:hover {
    background-color: #4361EE;
  }


  .half-circle-background {
    position: absolute;
    right: 10%;
    bottom: 18%;
    width: 30%; 
    height: 64%; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .robot-animation {
    width: 100%;
    height: auto;
    
  }